*{
    margin: 0%;
    padding: 0%;
}

header{
    background: #000;
    color: aliceblue;
}
body{
    margin: 0%;
    padding: 0%;
}
.firstSection{
  overflow: hidden;
}
.firstSectionImage{
    background: url('https://media.nomadicmatt.com/siteimages/2024/nomadic-matt-wecome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
    position: absolute;
    width: 100%;
    height: 470px;
    padding: 0%;
    margin: 0%;
}
.section1{
    justify-content: right;
}
.textBox{
    color: rgb(255, 255, 255);
    /*  */
    position: relative;
    height:470px ;
    padding: 100px;
    width: 100%;
}
.textBox h1{
  font-family: "Fjalla One", sans-serif;
}
.textBox h2{
  font-family: "Fjalla One", sans-serif;
}
.textBoxContent{
    text-align: center;
    width: 500px;
}

.inputFirstBox{
    width: 100px;
    height: 100px;
    padding: 100px;
}

.inputFirst {
    justify-content: center;
    height: 60px; 
    width: 100px; 

  }
  
  .inputFirst::placeholder {
    text-align: center; /* Ensure placeholder text is centered */
  }


  .textBox p{
    font-size: large;
    letter-spacing: 0.5px;
    font-weight: 800;
    width: 700px;
    margin-left: -100px;
  }

  .textBox span{
    font-weight:400;
    transition: all 0.3s;
    cursor: pointer;
  }

  .textBox span:hover{
    color: rgb(50, 146, 220);
    /* font-weight:600; */
    text-shadow: 1px 1px 5px rgb(99, 99, 99);
  }
/* end of banner */

  /* tips section */

  .tips{
    background-color: #016aac;
    padding: 10px;
  }

  .tips .row{
    width: 100%;
  }
  .tips .row p{
    color: azure;
    font-weight: 900;
    font-size: large;
    text-align: center;
    font-family: "Fjalla One", sans-serif;
  }

  .tips .row input{
    height: 50px;
  }

  .tips .row button{
    background-color: rgb(150, 193, 85);
    color: #ffffff;
    border: 0px;
    height: 50px;
    width: 130px;
    border-radius: 4px;
    
  }

  /* end of tip sec tion */

  /* photo section */
  .photoSection h1{
    text-align: center;
  }
  .photoSection img{
    width: 365px;
    filter: brightness(0.7);
    transition: all 0.4s;
  }

  .photoContainer{
    position: absolute;
    cursor: pointer;
  }


  .photoSection img:hover{
    filter: brightness(0.4);
  }

  .photoSection h2{
    position: relative;
    color: #ffffff;
    text-align: center;
    margin: 64px;
    cursor: pointer;
    font-family: "Fjalla One", sans-serif;
    font-size:25px;
  }


  
  /* end of photo section */

/* Self intro Section */
.selfIntroSection{
  background-color: rgb(231, 231, 231);
  padding: 90px;
}

.selfIntroSectionFirst img{
padding-bottom: 20px;
}
.selfIntroSectionFirst p{
  font-size: 18px;
}
.selfIntroSection h2{
  font-family: "Fjalla One", impact;
  color: #000;
}
.selfIntroSection .selfIntroSectionSecond .logoGroup img{
  width: 380px;
}

.selfIntroSectionFirst span{
  transition: all 0.3s;
  font-weight: 700;
  font-size: 20px;
  color: #296b94;
  cursor: pointer;
}

.selfIntroSectionFirst span:hover{
  color: #000000;
}

.selfIntroSectionSecond ul li{
  cursor: pointer;
  color: #3a8ec2;
}


.selfIntroSectionSecond ul li:hover{
  color: #000000;
}
.selfIntroSectionSecond h5{
  font-family: "Fjalla One", impact;
  text-align: center;
  color: #000;
  padding: 20px;
}

/* End of Self intro Section */


/* Resorece Section */
.resorceSection{
  width: 100%;
  align-items: center;
  padding-bottom: 50px;
}
 .resorceSection img{
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 .resorceSection .firstContent{
  display: flex;
  padding-top: 30px;
  padding-left: 150px;
 }
 .resorceSection .firstContent img{
  width: 300px;
 }

 .resorceSection .firstContent .textbox{
  padding-top: 50px;
 }
 .resorceSection .secondContent{
  display: flex;
  padding-top: 30px;
  padding-left: 150px;
 }
 .resorceSection .secondContent img{
  width: 300px;
  padding-right: 150px;
 }

 .resorceSection .thirdContent img{
  width: 150px;
  height: 250px;
 }
/* End of Resorce Section */


  /* contact Section */
  .ContactSection{
    background-color: rgb(231, 231, 231);
    justify-content: center;
    text-align: center;
  }
  .ContactSection img{
    width: 500px;
  }

  .ContactSectionMain{
    padding: 100px;
    justify-content: center;
  }
  /* End of Countact Section */

  /* Foter Section */

  .footerSection{
    background-color: #0d86a4;
    color: white;
    text-align: center;
    padding-bottom: 50px;
    width: 100%;
  }
.footerHeder{
  border-width: 0px 0px 2px 0px; 
  border-style: dotted;
  border-color: white;
  text-align: left;
  margin-bottom: 30px;
}
.footerContentIcon{
  padding: 10px;
}
.footerContentIcon i{
  margin-right: 20px;
  transition: all 0.3s;
}

.footerContentIcon i:hover{
  transform: scale(108%);
}
  .footerContent ul{
    list-style-type: none;
    text-align: left;
    cursor: pointer;
  }
  /* End of Footer Section */


