*{
    margin: 0%;
    padding: 0%;
}

/* Header Section */
/* header */
#header{
  background-color: black;
}

/* header1 */
#header .header1{
  height: 3.2vw;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.5vw;
  padding: 0px 6.3vw;
}
#header .header1 i{
  scale:1.2;
  width: 0.5vw;
  height: 0.5vw;
}
#header input{
  border: 0px solid transparent;
  width: 11vw;
  height: 2.3vw;
  padding: 0vw 0.5vw;
  font-size: 1vw;
  border-top-left-radius: 0.2vw;
  border-bottom-left-radius: 0.2vw;
}
#header .button1{
  border: 0px solid transparent;
  height: 2.3vw;
  width: 2vw;
  position: absolute;
  background-color: white;
  border-top-right-radius: 0.2vw;
  border-bottom-right-radius: 0.2vw;
}
/* header2 */
#header .header2{
  height: 3.2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 4vw;
}
#header .nav{
  display: flex;
  gap: 1.1vw;
  height: 2.3vw;
  width: 37vw;
}
#header .header2 button{
  background-color: black;
  color: white;
  border: 0px;
  font-weight: 500;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.2vw;
  transition: all 0.2s ease-out;
  height: 2.3vw;
  padding: 0;
}
#header .header2 button:hover{
  color: #2ca0c4;
}
#header .header2 i{
  scale: 0.5;
}
#header .header2 img{
  width: 12vw;
  padding-bottom: 1vw;
}
#header .content{
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  z-index: 1;
}
#header .c1{
  width: 22vw;
}
#header .c1 h6{
  font-size: 1vw;
  padding: 0.5vw;
}
#header p:hover{
  background-color: rgb(187, 187, 187);
}
#header p{
  margin: 0;
  padding: 0.5vw 0.5vw;
  transition: all 0.2s ease-in;
  font-size: 0.8vw;
}
#header .dropdown:hover .content{
  display: block;
}
#header .c2{
  width: 14vw;
}
#header .c2 p{
  border-bottom: 1px rgb(221, 221, 221) solid;
}
/* End of Header Scetion */
body{
    margin: 0%;
    padding: 0%;
}

/* Go to Top Arrow  Section*/
.button{
  position: fixed;
  bottom: 5vw;
  right: 2vw;
}
.button button{
  width: 2vw;
  height: 2vw;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
}
/* End Of Go to Top ARrow */
.firstSection{
  overflow: hidden;
}
.firstSectionImage{
    background: url('https://media.nomadicmatt.com/siteimages/2024/nomadic-matt-wecome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
    position: absolute;
    width: 100%;
    height: 470px;
    padding: 0%;
    margin: 0%;
}
.section1{
    justify-content: right;
}
.textBox{
    color: rgb(255, 255, 255);
    /*  */
    position: relative;
    height:470px ;
    padding: 100px;
    width: 100%;
}
.textBox h1{
  font-family: "Fjalla One", sans-serif;
}
.textBox h2{
  font-family: "Fjalla One", sans-serif;
}
.textBoxContent{
    text-align: center;
    width: 500px;
}

.inputFirstBox{
    width: 100px;
    height: 100px;
    padding: 100px;
}

.inputFirst {
    justify-content: center;
    height: 60px; 
    width: 100px; 

  }
  
  .inputFirst::placeholder {
    text-align: center; /* Ensure placeholder text is centered */
  }


  .textBox p{
    font-size: large;
    letter-spacing: 0.5px;
    font-weight: 800;
    width: 700px;
    margin-left: -100px;
  }

  .textBox span{
    font-weight:400;
    transition: all 0.3s;
    cursor: pointer;
  }

  .textBox span:hover{
    color: rgb(50, 146, 220);
    /* font-weight:600; */
    text-shadow: 1px 1px 5px rgb(99, 99, 99);
  }
/* end of banner */

  /* tips section */

  .tips{
    background-color: #016aac;
    padding: 10px;
  }

  .tips .row{
    width: 100%;
  }
  .tips .row p{
    color: azure;
    font-weight: 900;
    font-size: large;
    text-align: center;
    font-family: "Fjalla One", sans-serif;
  }

  .tips .row input{
    height: 50px;
  }

  .tips .row button{
    background-color: rgb(150, 193, 85);
    color: #ffffff;
    border: 0px;
    height: 50px;
    width: 130px;
    border-radius: 4px;
    
  }

  /* end of tip sec tion */

  /* photo section */
  .photoSection h1{
    text-align: center;
  }
  .photoSection img{
    width: 370px;
    filter: brightness(0.7);
    transition: all 0.4s;
  }

  .photoContainer{
    position: absolute;
    cursor: pointer;
  }


  .photoSection img:hover{
    filter: brightness(0.4);
  }

  .photoSection h2{
    position: relative;
    color: #ffffff;
    text-align: center;
    margin: 64px;
    cursor: pointer;
    font-family: "Fjalla One", sans-serif;
    font-size:25px;
  }


  
  /* end of photo section */

/* Self intro Section */
.selfIntroSection{
  background-color: rgb(231, 231, 231);
  padding: 90px;
}

.selfIntroSectionFirst img{
padding-bottom: 20px;
}
.selfIntroSectionFirst p{
  font-size: 18px;
}
.selfIntroSection h2{
  font-family: "Fjalla One", impact;
  color: #000;
}
.selfIntroSection .selfIntroSectionSecond .logoGroup img{
  width: 380px;
}

.selfIntroSectionFirst span{
  transition: all 0.3s;
  font-weight: 700;
  font-size: 20px;
  color: #296b94;
  cursor: pointer;
}

.selfIntroSectionFirst span:hover{
  color: #000000;
}

.selfIntroSectionSecond ul li{
  cursor: pointer;
  color: #3a8ec2;
}


.selfIntroSectionSecond ul li:hover{
  color: #000000;
}
.selfIntroSectionSecond h5{
  font-family: "Fjalla One", impact;
  text-align: center;
  color: #000;
  padding: 20px;
}

/* End of Self intro Section */


/* Resorece Section */
.resorceSection{
  width: 100%;
  align-items: center;
  padding-bottom: 50px;
}
 .resorceSection img{
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 .resorceSection .firstContent{
  display: flex;
  padding-top: 30px;
  padding-left: 150px;
 }
 .resorceSection .firstContent img{
  width: 300px;
 }

 .resorceSection .firstContent .textbox{
  padding-top: 50px;
 }
 .resorceSection .secondContent{
  display: flex;
  padding-top: 30px;
  padding-left: 150px;
 }
 .resorceSection .secondContent img{
  width: 300px;
  padding-right: 150px;
 }

 .resorceSection .thirdContent img{
  width: 150px;
  height: 250px;
 }
/* End of Resorce Section */


  /* contact Section */
  .ContactSection{
    background-color: rgb(231, 231, 231);
    justify-content: center;
    text-align: center;
  }
  .ContactSection img{
    width: 500px;
  }

  .ContactSection button{
    height: 2.5vw;
    font-size: 0.8vw;
    font-family: "Fjalla One", sans-serif;
    border: none;
    color: white;
    background-color: #acc960;
  }
  .ContactSectionMain{
    padding: 100px;
    justify-content: center;
  }
  /* End of Countact Section */

  /* Foter Section */

  #footer{
    background-color: #3a92b3;
    color: white;
}
#footer .container{
    display: flex;
}
#footer .div1{
    width: 20%;
}
#footer h3{
    font-family: "Fjalla One", sans-serif;
    font-size: 1.3vw;
    margin-top: 1vw;
    width: 87%;
    border-bottom: white 0.14vw dotted;
}
#footer .div1 p{
    font-size: 0.9vw;
    color: #c7edf5;
}
#footer i{
    color: white;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-bottom: 2vw;
}
#footer input{
    width: 87%;
    height: 2.5vw;
    border: none;
    padding-left: 1vw;
    font-size: 0.8vw;
}
#footer .footer2{
    padding: 3vw;
    font-size: 0.8vw;
}
  /* End of Footer Section */


